[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
whitenoise = "*"
django = "*"
django-heroku = "*"
dj-database-url = "*"
"psycopg2" = "*"
pillow = "*"
django-storages = "*"
"boto3" = "*"

[requires]
Django = ">=2.0"
python_version = "3.7.0"
