{% extends "myportfolio/base.html" %}
{% block nav %}{% with active='blog' %}{{ block.super }}{% endwith%}{% endblock nav %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}?{% now 'U' %}">
<div class="container">
	<div class="jumbotron p-3 p-md-5 text-white rounded" style="background-image: url({{latest_post_list.first.primary_photo.url}});">
		<div class="col-md-6 px-0">
			<h1 class="display-4 font-italic">{{ latest_post_list.first.post_title }}</h1>
			<p class="lead my-3">{{ latest_post_list.first.post_subtitle }}</p>
			<p class="lead my-1">{{ latest_post_list.first.pub_date }}</p>
			<p class="lead mb-0"><a href="{% url 'blog:detail' latest_post_list.first.id %}" class="text-white font-weight-bold">Continue reading...</a></p>
		</div>
	</div>
</div> 	
<main role="main" class="container">
	<div class="row">
		<div class="col-md-8 blog-main">
			<h3 class="pb-3 mb-4 font-italic border-bottom">
				Previous Posts
			</h3>

			<div class="blog-post">
				<h2 class="blog-post-title">Another blog post</h2>
				<p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

				<p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
				<blockquote>
					<p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				</blockquote>
				<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
				<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
			</div><!-- /.blog-post --> 
		</div>
	</div>
</main>	
{% endblock %}