{% extends "myportfolio/base.html" %}
{% block nav %}{% with active='home' %}{{ block.super }}{% endwith%}{% endblock nav %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}?{% now 'U' %}">
<div class="text-center">
	<div class="h-100 row align-items-center">
		<main role="main" class="col">
			<h1 class="display-1">Dominic Scotto</h1>
			<h5 class="text-muted">Web Developer / Product Manager</h5>
			<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
		</main>
	</div>
</div>
{% endblock %}
