{% extends "myportfolio/base.html" %}
{% block nav %}{% with active='home' %}{{ block.super }}{% endwith%}{% endblock nav %}

{% block content %}
<div class="text-center">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<main role="main" class="inner cover">
			<h1 class="display-1">Dominic Scotto</h1>
			<h5 class="text-muted">Web Developer / Product Manager</h5>
			<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
		</main>
	</div>
</div>
{% endblock %}
