{% extends "myportfolio/base.html" %}
{% block nav %}{% with active='projects' %}{{ block.super }}{% endwith%}{% endblock nav %}

{% block content %}
<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Projects</h1>
          <p class="lead text-muted">My personal and professional projects. Showcasing my experience in Web Developing, Product Managment, and Data Science</p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% if project_list %}
            {% for project in project_list %}
            <div class="col-md-4">
              <a class="project-link" href="{{project.project_link}}">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{project.project_photo.url}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{project.project_description|safe}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      {% for tag in project.tech_used.all %}
                        <span class="badge badge-pill badge-primary">{{tag}}</span>
                      {% endfor %}
                    </div>
                    <span class="badge badge-primary">{{project.get_project_type_display}}</span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
              <p>No projects are available.</p>
            {% endif %}
          </div>
        </div>
        </a>
      </div>

    </main>
{% endblock %}